body{
font-family: 'Jost', sans-serif !important;
background: #BA5370;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F4E2D8, #BA5370);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F4E2D8, #BA5370); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.resume{
  top:0%;
}
.resume embed{
  z-index: 10;
}
.resume embed {
width:100%;
height:100rem;
}
.navbar .nav-link{
  font-size:1rem;
  border-radius: 10px;
  margin-left:10%;
  margin-right:10%;
  color: white;
  border-bottom:2px solid transparent;
  border-left:2px solid transparent;
}

.navbar .nav-link:hover{
  background-color: #BA5370;
  color:black;
  border-radius: 10px;
}

.introduction{
  word-spacing: 4px;
  letter-spacing: 1px;
  height: 55vh;
  font-size: 1.5rem;
  color:white;
  z-index:2;
  animation:transDown 0.8s ease-in-out;
  transition :all 1s;
}
.introduction span{
  font-size: 3.6rem;
  display: inline-block;
  height:0;
  word-spacing: 4px;
}

.navbar-toggler:focus{
  border-color: none;
  border:0 !important;
  outline:0 !important;
}
.navbar img{
width:2.5rem;
}
  .navbar-collapse{
    width:100%;
    position:relative;
    color:white;
    z-index:1;
  }
  .section {
    margin-top:9%;
  }
  .introduction span{
    display: inline-block;
    height:0;
    word-spacing: 4px;
    line-height: 1;
  }
  .qualifications .card-img-overlay{
    background-color: #00000065;
  }
  .circle1{
    background-image: url(/public/images/profile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:20rem;
    width:20rem;
    border-radius:50%;
    z-index: 2;
    border:5px solid #ebc6d1  ;
    animation :borderclose 2s ;
  }
  .circle2{
    height:14rem;
    width:14rem;
    background-color: #cd8096;
    border-radius:50%;
    z-index: -1;
    position: absolute;
    top: 15%;
    right: -5%;
    animation: circlefromTop 4s;
  }
  .circle3{
    height:14rem;
    width:14rem;
    background-color: #F4E2D8;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top:-2%;
    left:-5%;
    animation: circlefromDown 4s;
  }
  .carousel1{
    width:80rem;
  }
  .carousel2 {
    display:none
  }

  .workexperince img{
    width:10rem;
  }
  .projectssection{
    padding-top:5% !important;
  }
  @keyframes borderclose {
    0% {
      width:5rem;
      height:5rem;
      opacity: 0.2;
    }
    25%{
      opacity: 0.4;
    }
    50%{
      opacity: 0.6;
    }
    75%{
      opacity: 0.8;
    }
    100%{
      width:20rem;
      height:20rem;
      opacity: 1;
    }
  }
  @keyframes circlefromDown {
    from { 
      transform: rotate(0deg) translate(-300px) rotate(0deg);
      opacity: 0.5;
     }
    to { 
      transform: rotate(360deg) translate(0px) rotate(180deg);
      opacity: 1;
     }
  }
  @keyframes circlefromTop {
    from {
      transform: rotate(0deg) translate(-300px) rotate(180deg);
      opacity: 0.5; 
    }
    to {
       transform: rotate(180deg) translate(0px) rotate(0deg); 
      opacity: 1;
    }
  }
  @keyframes transDown {
    0%{
   transform: translateY(-50%);   
   opacity: 0.3;
  }
  50%{
    opacity: 0.5;
  }
  80%{
    opacity: 0.8;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
  }
  @media(min-width:1080px){
    .carouse1{
      width:90% !important;
    }
    .carousel1 img{
      width:40rem !important;
    }
  }
@media (max-width:512px) {
.navbar img{
  width:3rem;
  border-radius: 50%;
}
  .navbar-collapse{
    margin:0 !important;
    padding: 0 !important;
    width:100%;
    position:relative;
    color:white;
    backdrop-filter:blur(10px);
    z-index:1;
  }

  .introduction{
    position: relative;
    font-size: 2rem;
    color:white;
    /* background-image: linear-gradient(135deg, rgb(175, 175, 119), rgb(105, 105, 41), rgb(77, 77, 9)); */
    height:100vh;
    z-index:2;
  }
  .introduction span{
    display: inline-block;
    height:0;
    word-spacing: 4px;
    line-height: 1;
  }
  .qualifications .card-img-overlay{
    background-color: #00000065;
  }
  .profile{
    display:none;
  }
  .carousel1{
    display:none;
  }
  .carousel2{
    display:block;
  }
  .carousel2 img{

    width:10rem;
  }

  .workexperince img{
    width:10rem;
  }
 
}